.minimizable {
	cursor: pointer;
	position: relative;
}
.minimizable:after {
	content: "";
	position: absolute;
	right: 1em;
	border: 0.5em solid;
	border-right-color: transparent;
	border-left-color: transparent;
	border-top-color: transparent;
	border-bottom-color: initial;
	top: 50%;
	margin-top: -0.8em;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-ms-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
	opacity: 0.6;
}
.minimizable:hover:after {
	opacity: 1;
}

.minimizable.minimized:after {
	border-top-color: initial;
	border-bottom-color: transparent;
	margin-top: -0.3em;
}